
%header__btn{
    margin-top: 10px;
    border-radius: 5px;
    padding:  10px;
    align-self: center; 
}

.header__btn--primary{
@extend %header__btn;
background-color: lighten($black-color, 5%);
color: $white-color;
margin-right: 10px;
}
.header__btn--secondary{
@extend %header__btn;
}