$white-color: white;
$black-color: black;
$big-text: 'Josefin Sans', sans-serif;
//$footer-color: gainsboro;
$footer-color: hsl(0, 0%, 41%);
$link-color : blue;



//set text color based on background color

@function set-text-color($color){
@if(lightness($color)>70){
    @return $black-color;
}@else{
@return $white-color
};
};


//set background color

@mixin set-background-color($color) {
   background-color: $color;
   color: set-text-color($color)
}